# MongoDB connection string
MONGODB_URI=mongodb+srv://admin:admin@cluster0.xxgl8ew.mongodb.net/NotesApp?retryWrites=true&w=majority&appName=Cluster0

# Prisma connection string (MongoDB)
DATABASE_URL=mongodb+srv://admin:admin@cluster0.xxgl8ew.mongodb.net/NotesApp?retryWrites=true&w=majority&appName=Cluster0

# JWT secret do podpisywania ciasteczka sesyjnego
JWT_SECRET=twoj-sekret-jwt

# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=